QiscusRealtime.framework
QiscusRealtime/build/*
QiscusRealtime/Pods/*
QiscusRealtime/Podfile.lock
QiscusRealtime/Podfile.lockbup
fastlane/*
build/*
Pods/*
Podfile.lock
Podfile.lockbup
**/xcuserdata/**
**/UniversalLib.xcscheme
